<% if(errorMessage) { %>
<span class="message errorMessage"><%= errorMessage %></span>
<% } %>

<% if(successMessage) { %>
<span class="message successMessage"><%= successMessage %></span>
<% } %>