<!DOCTYPE html>
<html lang="pt-br">

<%- include('components/head-component.ejs', {title: 'Home'}) %>

<body>
    <%- include('components/header-component.ejs') %>
    <h1>Home</h1>
</body>

</html>