<!DOCTYPE html>
<html lang="pt-br">

<%- include('components/head-component.ejs', {title: 'Home'}) %>

<body>
    <h1>Home</h1>
    <span>
        nome: <%= user.name %> <br>
        email: <%= user.email %>
    </span>
    <a href="/auth/logout">Logout</a>
</body>

</html>