<!DOCTYPE html>
<html lang="pt-br">

<%- include('components/head-component.ejs', {title: 'Login'}) %>

<body>
    <%- include('components/message-component.ejs') %>

    <h1>Login</h1>
    <form action="/auth/login" method="POST">
        <label for="email">Email: </label>
        <input type="email" name="email" placeholder="Email" required>

        <label for="password">Senha: </label>
        <input type="password" name="password" placeholder="Senha" required>

        <button type="submit">Entrar</button>
    </form>
    <span>Ou</span>

    <div class="social-auth">
        <a href="/auth/google">Entrar com google</a>
    </div>

    <a href="/register">Faça seu cadastro</a>
</body>

</html>