<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form action="/auth/login" method="post">
        <!-- Adicione campos do formulário, se necessário -->
        <!-- Exemplo: <input type="text" name="username" placeholder="Nome de usuário"> -->
        <!-- Exemplo: <input type="password" name="password" placeholder="Senha"> -->

        <button type="submit">enviar</button>
    </form>
</body>

</html>