<!DOCTYPE html>
<html lang="pt-br">

<%- include('components/head-component.ejs', {title: 'Login'}) %>

<body>
    <%- include('components/message-component.ejs') %>

    <main class="auth-container">
        <div class="auth-form">
            <h1 class="form-title">Login</h1>

            <form action="/auth/login" method="POST" id="login-form">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Digite seu email..." required>

                <label for="password">Senha</label>
                <input type="password" name="password" placeholder="Digite sua senha..." required>

                <a href="/">Esqueci a senha</a>

                <button class="button form-button" type="submit">Entrar</button>
            </form>

            <div class="google-login">
                <a href="/auth/google">Google</a>
            </div>

            <div>
                <a href="/register">Cadastre-se</a>
            </div>
        </div>
    </main>
</body>

</html>