<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <script src="../assets/js/script.js" defer></script>
</head>

<body>
    <h1>Cadastro</h1>
    <form action="/auth/register" method="post">
        <label for="name">Nome: </label>
        <input type="text" name="name" placeholder="Nome" required>

        <label for="email">Email: </label>
        <input type="email" name="email" placeholder="Email" required>

        <label for="password">Senha: </label>
        <input type="password" name="password" required>

        <input type="submit" value="Cadastrar">
        <div class="errorMessage"><%= error%></div>
    </form>
</body>

</html>