<!DOCTYPE html>
<html lang="pt-br">

<%- include('components/head-component.ejs', {title: 'Cadastro'}) %>

<body>
    <%- include('components/message-component.ejs') %>

    <main class="auth-container">
        <div class="auth-form">
            <h1 class="form-title">Cadastro</h1>
            <form action="/auth/register" method="post">
                <label for="name">Nome: </label>
                <input type="text" name="name" placeholder="Nome" required>

                <label for="email">Email: </label>
                <input type="email" name="email" placeholder="Email" required>

                <label for="password">Senha: </label>
                <input type="password" name="password" placeholder="Senha" required>

                <input class="button form-button" type="submit" value="Cadastrar">
            </form>

            <a href="/">Retornar ao login</a>
        </div>
    </main>

</body>

</html>