<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <script type="module" src="../assets/js/script.js" defer></script>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <% if(message) { %>
    <span class="errorMessage" style="color: red;"><%= message %></span>
    <% } %>

    <h1>Cadastro</h1>
    <form action="/auth/register" method="post">
        <label for="name">Nome: </label>
        <input type="text" name="name" placeholder="Nome" required>

        <label for="email">Email: </label>
        <input type="email" name="email" placeholder="Email" required>

        <label for="password">Senha: </label>
        <input type="password" name="password" required>

        <input type="submit" value="Cadastrar">
    </form>

    <a href="/">Retornar ao login</a>

</body>

</html>