.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-form {
    width: 300px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-title {
    text-align: center;
}

.auth-form form {
    display: flex;
    flex-direction: column;
}

.form-button {
    display: inline-block;
    padding: 5px 10px;
    width: 50%;
    margin: 15px auto 0 auto;
    border-radius: 20px;
}